@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Checkout <a href="https://docs.microsoft.com/en-us/xamarin/ios/">Xamarin.IOS</a>.</p>
</div>
