@page
@model IntroWebApp.Pages.Intro
@{
    Layout = "_Layout";
    ViewData["Title"] = "Intro";
}

<h3>Athif Ahamed Mohamed Shaffy - A00256229</h3>
<form oninput="output.value=parseInt(numberInput1.value)+parseInt(numberInput2.value)">
    <input type="number" name="numberInput1">
    +<input type="number" name="numberInput2">
    =<output name="output" for="numberInput1 numberInput2"></output>
    <input type="submit" value="Submit">
</form>

@section NewSection {
    <p>
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
    </p>
}